@import url("./sidebar.css");
@import url("./content.css");

#LoggerApp {
  display: flex;
  flex-direction: column;
  gap: 0;
}

#LoggerApp > div.body {
  padding: 0;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}
