#LoggerApp div.sidebar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  height: auto;
  overflow-y: scroll;
  padding: 15px;
}

#LoggerApp div.sidebar button {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
  padding: 5px;
  margin: 0;
  background-color: transparent;
}

#LoggerApp div.sidebar button:hover {
  background-color: var(--button-glass-bg);
}

#LoggerApp div.sidebar button:active {
  background-color: var(--button-glass-active-bg);
  box-shadow: none;
}

#LoggerApp div.sidebar button.selected {
  background-color: var(--accent-transparent);
  font-weight: bold;
}

#LoggerApp div.sidebar button span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#LoggerApp div.sidebar button img {
  height: 24px;
}
